{% load octicons %}

<div class="shadow-lg card">
    <h5 class="card-header d-flex justify-content-between">
        Electrical Personnel
        <span class="d-inline-block align-top badge badge-light"
            style="height: max-content;">{% octicon 'circuit-board' %}</span>
    </h5>
    <div class="card-body">
        <h5 class="d-flex justify-content-between mb-1 card-title">
            All Personnel
            <div>
                <span class="d-inline-block align-top badge
                {% if ec_free == 0 %} 
                badge-danger 
                {% else %} 
                badge-secondary 
                {% endif %}">
                    {{ ec_free }}
                </span>
                <span class="d-inline-block align-top badge
                {% if ec_busy == 0 %} 
                badge-danger 
                {% else %} 
                badge-dark 
                {% endif %}">
                    {{ ec_busy }}
                </span>
            </div>
        </h5>
        <ul class="mb-2 list-group">
            {% for person in ec_people %}
            <li class="d-flex justify-content-between list-group-item 
            {% if person.assignment_set.all %}
            list-group-item-dark
            {% else %}
            list-group-item-light
            {% endif %}">
                {{ person.name }}
                <span>
                    {% if person.assignment_set.all %}
                    <span tabindex="0" class="badge badge-dark" data-container="body" data-toggle="popover"
                        data-trigger="focus" title="Current Tasks" data-placement="right" data-html="true" data-content="<ul class='list-group list-group-flush'>
                            {% for assignment in person.assignment_set.all %}
                                <li class='list-group-item'><a href='#{% if assignment.subsystem.parent_system %}{{ assignment.subsystem.parent_system.slug }}{% else %}{{ assignment.subsystem.slug }}{% endif %}'>{{ assignment.subsystem }}</a></li>
                            {% endfor %}
                        </ul>">
                        {{ person.assignment_set.all|length }}
                    </span>
                    <span tabindex="0" data-container="body" data-toggle="popover" data-trigger="focus"
                        title="All Subsystems" data-placement="right" data-html="true" data-content="<ul class='list-group list-group-flush'>
                    {% for subsystem in all_subsystems %}
                        <li class='list-group-item'><a href='#' onclick='sendAdd({{ person.pk }}, {{ subsystem.pk }});'>{{ subsystem }}</a></li>
                    {% endfor %}
                    </ul>">
                        {% octicon 'plus' %}
                    </span>
                </span>
                {% else %}
                <span tabindex="0" data-container="body" data-toggle="popover" data-trigger="focus"
                    title="All Subsystems" data-placement="right" data-html="true" data-content="<ul class='list-group list-group-flush'>
                    {% for subsystem in all_subsystems %}
                        <li class='list-group-item'><a href='#' onclick='sendAdd({{ person.pk }}, {{ subsystem.pk }});'>{{ subsystem }}</a></li>
                    {% endfor %}
                    </ul>">
                    {% octicon 'plus' %}
                </span>
                {% endif %}
                </span>
            </li>
            {% empty %}
            <li class="d-flex justify-content-between list-group-item list-group-item-light">
                No People
            </li>
            {% endfor %}
        </ul>
        <a href="https://discordapp.com/channels/@me/693536650315431987" target="_blank" class="btn btn-primary">Contact
            Officer</a>
    </div>
</div>