{% load static %}

<nav class="justify-content-between shadow-lg navbar sticky-top navbar-expand navbar-dark"
    style="background-color: #022B3A;">
    <a class="navbar-brand" href="/">
        <!-- <img src="{% static 'logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt=""> -->
        ASTRA SMT
    </a>
    <ul class="navbar-nav">
        <li class="ml-2 nav-item">
            <a class="btn btn-outline-dark text-light" oncontextmenu="window.location.href = '/admin';">Admin</a>
        </li>
    </ul>
</nav>