{% load octicons %}

<div class="shadow-lg card">
    <h5 class="card-header d-flex justify-content-between">
        Science Personnel
        <span class="d-inline-block align-top badge badge-light"
            style="height: max-content;">{% octicon 'telescope' %}</span>
    </h5>
    <div class="card-body">
        <h5 class="d-flex justify-content-between mb-1 card-title">
            All Personnel
            <div>
                <span class="d-inline-block align-top badge
                {% if sc_free == 0 %} 
                badge-danger 
                {% else %} 
                badge-secondary 
                {% endif %}">
                    {{ sc_free }}
                </span>
                <span class="d-inline-block align-top badge
                {% if sc_busy == 0 %} 
                badge-danger 
                {% else %} 
                badge-dark 
                {% endif %}">
                    {{ sc_busy }}
                </span>
            </div>
        </h5>
        <ul class="mb-2 list-group">
            {% for person in sc_people %}
            {% include 'smt/person_list.html' %}
            {% empty %}
            <li class="d-flex justify-content-between list-group-item list-group-item-light">
                No People
            </li>
            {% endfor %}
        </ul>
        <a href="https://discordapp.com/users/341623862880108546" target="_blank" class="btn btn-primary">Contact
            Officer</a>
    </div>
</div>